<h1 class="text-center p-4 mb-3"><%= @category.title %></h1> 
<%= link_to "Add Word",new_admin_category_word_path(@category), class: 'btn btn-info mb-2' %>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Words</th>
            <th scope="col">Answers</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% @words.each do |word| %> 
        <tr>
            <th>
                <%= word.content %>
            </th>
            <th>
            </th>
            <th>
                <%= link_to "Edit", edit_admin_category_word_path(@category,word), class: 'btn btn-dark' %>
                <%= link_to "Delete", admin_category_word_path(@category,word),method: :delete, class: 'btn btn-dark' %>
            </th>
        </tr>
    <% end %>
  </tbody>
</table>
