<div class="row">
    <div class="col-lg-3 mt-4">
        <div class="card d-inline-block" style="width: 18rem;">
            <div class="text-center mt-3">
                <%= gravatar_for @user, size: 120 %>
            </div>
            <div class="card-body">
                <h1 class="card-title text-center"><%= @user.name %></h1>
                <div class="row text-center">
                    <div class="col">
                        <h4><%= @user.following.count %></h4>
                        <small>following</small>
                    </div>
                    <div class="col">
                        <h4><%= @user.followers.count %></h4>
                        <small>followers</small>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <% unless current_user == @user %>
                        <% if current_user.following?(@user) %>
                            <%= render 'unfollow' %>
                        <% else %>
                            <%= render 'follow' %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <hr />
            <div class="text-center">
                Lessoned Categories
                <%= @lessons.count %>
            </div>
        </div>
    </div>
    <div class="col-lg-6 offset-1">
        <div class="card" style="width: 50rem;">
            <div class="card-header">
                <div class="container m-3">
                    <p class="text-center mt-4">Activity</p>
                </div>
            </div>
            <ul class="list-unstyled">
                <li class="media">
                    <div class="media-body">
                    <h5 class="mt-0 mb-1"></h5>
                    <ul class="list-unstyled"> 
                        <% @activities.each do |activity| %>
                            <li class="m-3">
                            <%= gravatar_for activity.user, size: 80 %>
                                <% if activity.action_type == "Relationship" %>
                                    <% if activity.action.follower.id == current_user.id %>
                                        <%= "You followed"%>
                                    <% else %>
                                        <%= "#{ activity.action.follower.name } followed" %>
                                    <% end %>
                                     <%= link_to activity.action.followed.name, user_path(activity.action.followed) %>
                                <% else %>
                                    <% if activity.action.user.id == current_user.id %>
                                        <%= "You learned" %>
                                    <% else %>
                                        <%= "#{ activity.action.user.name } learned" %>
                                    <% end %>
                                        <%= link_to activity.action.category.title, lesson_path(activity.action.category) %>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                    </div>
                </li>
                <div class="card-footer paginate text-center">
                    <%= will_paginate @activities if @activities.any? %>
                </div>
            </ul>
        </div>
    </div>
</div>

