<nav class="header-link navbar-expand-lg navbar-light">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <h4 class="d-inline-block"><%= link_to "E-learning", root_path, class: 'naver-link text-muted d-inline-block mt-3' %></h4>
            <ul class="navbar-nav ml-auto">
                <% if logged_in? %>
                    <li class="nav-item">
                        <%= link_to categories_path, class: 'nav-link mt-3' do %>
                            <i class="fas fa-heart text-info"></i> Categories
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <%= link_to users_path, class: 'nav-link mt-3' do %>
                            <i class="fas fa-heart text-info"></i> Users
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <%= link_to dashboard_path, class: 'nav-link mt-3' do %>
                            <i class="fas fa-heart text-info"></i> Dashboard
                        <% end %>
                    </li>
                    <li class="dropdown mt-3">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= current_user.name %>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <%= link_to "Profile", user_path(current_user), class: 'dropdown-item' %>
                            <%= link_to "Setting", edit_user_path(current_user), class: 'dropdown-item' %>
                            <%= link_to "Logout", logout_path, method: :delete, class: 'dropdown-item' %>
                            <% if current_user.admin? %>
                                <hr />
                                <%= link_to "User Management", admin_users_path, class: 'dropdown-item'%>
                                <%= link_to "Category Manegement", admin_categories_path, class: 'dropdown-item' %>
                            <% end %>
                        </div>
                    </li>
                <% else %>
                    <li class="nav-item active">
                    <%= link_to root_path, class: 'nav-link mt-3' do %>
                        <i class="fas fa-heart text-info"></i> HOME
                    <% end %>
                    </li>
                    <li class="nav-item active">
                        <%= link_to login_path, class: 'nav-link mt-3' do %>
                            <i class="fas fa-heart text-info"></i> Login
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>