<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <%= link_to "E-learning", root_path, class: 'naver-link text-dark' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <% if logged_in? %>
                    <li class="nav-item">
                        <%= link_to "Categories", categories_path, class: 'nav-link'%>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Users", users_path, class: 'nav-link'%>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Dashboard", dashboard_path, class: 'nav-link'%>
                    </li>
                    <li class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= current_user.name %>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <%= link_to "Profile", user_path(current_user), class: 'dropdown-item' %>
                            <%= link_to "Setting", edit_user_path(current_user), class: 'dropdown-item' %>
                            <%= link_to "Logout", logout_path, method: :delete, class: 'dropdown-item' %>
                            <% if current_user.admin? %>
                                <hr />
                                <%= link_to "User Management", admin_users_path, class: 'dropdown-item'%>
                                <%= link_to "Category Manegement", admin_categories_path, class: 'dropdown-item' %>
                            <% end %>
                        </div>
                    </li>
                <% else %>
                    <li class="nav-item active">
                    <%= link_to "HOME", root_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item active">
                        <%= link_to "Login", login_path, class: 'nav-link' %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>