<div class="row">
    <div class="col-lg-6 offset-2 mt-4">
        <%= @category.title %>
        <hr />
        <div class="card text-center d-inline-block" style="width: 40rem;">
            <div class="card-body">
                <%= @words.first.content %>
                <% @words.first.choices.each do |choice| %>
                    <%= form_for [@lesson, @answer] do |f| %>
                        <%= hidden_field_tag :lesson_id, @lesson.id %>
                        <%= hidden_field_tag :word_id, @words.first.id %>
                        <%= hidden_field_tag :choice_id, choice.id %>
                        <%= f.submit choice.content, class: 'btn btn-outline-info m-2 btn-lg btn-block' %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>