<h1 class="text-center p-4 mb-3 text-light">Categories</h1>
<hr />
<%= link_to "Add Category",new_admin_category_path, class: 'btn btn-info mb-2' %>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th style="width:300px;">Titile</th>
            <th style="width:600px;">Description</th>
            <th style="width:300px;">Action</th>
        </tr>
    </thead>
    <tbody class="bg-light">
        <% @categories.each do |category| %> 
        <tr>
            <th>
                <%= link_to category.title, admin_category_words_path(category), style: "color: violet;" %>
            </th>
            <th>
                <%= category.description %> 
            </th>
            <th>
                <%= link_to edit_admin_category_path(category), class: 'btn btn-dark' do %>
                    <i class="fas fa-edit"></i>
                <% end %>
                <%= link_to admin_category_path(category),method: :delete, class: 'btn btn-dark' do %>
                    <i class="fas fa-trash-alt"></i>
                <% end %>
            </th>
        </tr>
        <% end %>
  </tbody>
</table>





