<h1 class="text-center p-2 text-light">Categories</h1>
<hr />
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item m-1">
    <%= link_to "All", categories_path, class: 'btn btn-outline-light' %>
  </li> 
  <li class="nav-item m-1">
    <%= link_to "Learned", categories_path(status: :learned), class: 'btn btn-outline-light' %>
  </li> 
  <li class="nav-item m-1">
    <%= link_to "Not Learned", categories_path(status: :unlearned), class: 'btn btn-outline-light' %>
  </li> 
</ul>


    <div class="row mt-4">
        <% @categories.each do |category| %>
            <div class="col-sm-6">
                <div class="card m-3">
                    <div class="card-body">
                        <%= category.title %>
                        <p class="card-text"><%= category.description %></p>
                        <% if @learned.include?(category) %>
                            <%= link_to "Show Result", lesson_path(category) ,class: 'btn btn-secondary float-right' %>
                        <% else %>
                            <%= form_for @lesson do |f| %>
                            <%= hidden_field_tag :category_id, category.id %>
                            <%= f.submit "Let's Start!", class: 'btn btn-info float-right' %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>