<h1 class="text-center p-2 text-light">Categories</h1>
<hr />
<ul class="nav nav-pills justify-content-center">
<% if  @status == "learned" %>
  <li class="nav-item">
    <%= link_to "All", categories_path, class: 'btn btn-outline-light' %>
    <li class="nav-item">
    <%= link_to "Learned", categories_path(status: :learned), class: 'btn btn-outline-light active' %>
  </li> 
  <li class="nav-item">
    <%= link_to "Not Learned", categories_path(status: :unlearned), class: 'btn btn-outline-light' %>
  </li>
<% elsif @status == "unlearned" %>
  <li class="nav-item">
    <%= link_to "All", categories_path, class: 'btn btn-outline-light' %>
    <li class="nav-item">
    <%= link_to "Learned", categories_path(status: :learned), class: 'btn btn-outline-light' %>
  </li> 
  <li class="nav-item">
    <%= link_to "Not Learned", categories_path(status: :unlearned), class: 'btn btn-outline-light active' %>
  </li> 
<% else %>
  <li class="nav-item">
    <%= link_to "All", categories_path, class: 'btn btn-outline-light active' %>
    <li class="nav-item">
    <%= link_to "Learned", categories_path(status: :learned), class: 'btn btn-outline-light' %>
  </li> 
  <li class="nav-item">
    <%= link_to "Not Learned", categories_path(status: :unlearned), class: 'btn btn-outline-light' %>
  </li> 
<% end %> 
</ul>
    <div class="row mt-4">
        <% @categories.each do |category| %>
            <div class="col-md-6">
                <div class="card mb-3 w-75 mx-auto">
                    <div class="card-body">
                        <%= category.title %>
                        <p class="card-text"><%= category.description %></p>
                        <% if @learned.include?(category) %>
                            <p class="text-right d-block mr-4 text-muted">
                                Result <%= @lesson.choices.where(correct: true).count %>/<%= @lesson.choices.count %>
                            </p>
                            <%= link_to "Show Result", lesson_path(category) ,class: 'btn btn-secondary float-right' %>
                        <% else %>
                            <%= form_for @lesson do |f| %>
                            <%= hidden_field_tag :category_id, category.id %>
                            <%= f.submit "Let's Start!", class: 'btn btn-info float-right' %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="pagenate text-center border-top pt-3">
      <%= will_paginate @categories if !@categories.blank? %>
    </div> 
</div> 
